---
layout: default
---

<section id="intro">
  <header>
    <h1>Transhumanizem</h1>
  </header>
  <p>Transhumanizem predstavlja tako osebno filozofijo, način mišljenja ter svetovni in življenjski nazor, kakor tudi odprto intelektualno in kulturno gibanje, ki potrjuje možnost in zaželenost temeljnega izboljšanja človeskega&#160;stanja.</p>

  <p>Pridružite se nam na
    <a href="http://tech.groups.yahoo.com/group/transhumanizem/">mailing listi</a>
    ali nam <a href="mailto:kontakt@transhumanizem.org">pišite</a>.</p>
</section>


<section class="articles">
  <h1>
    Članki
    <a href="#_" class="control" style="display:none">prikaži vse</a>
  </h1>
  <ul class="articles">
    {% for article in site.posts %}
    <li class="article">
      <a href="{{ article.url }}" data-tags="{{ article.categories | join: ", " }}">
        {{ article.title }}
      </a>
      <time datetime="{{ article.last_updated | date_to_xmlschema }}">
        {{ article.last_updated | date: "%d.%m.%Y" }}
      </time>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="tag-picker" class="tags">
  <h1>
    Ključne besede
  </h1>
  <ul>
    {% for tag in site.categories %}
    <li class="tag">
      <a href="#{{ tag | first }}">{{ tag | first }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
