<!doctype html>
<html data-url="{{ page.url }}">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} ✹ transhumanizem.org</title>
    <link href="/favicon.png" rel="shortcut icon" />
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="wrapper">
      <a href="/" id="logo">✹ transhumanizem.org</a>
      {{ content }}
    </div>
    <script type="text/javascript" src="/snack-qwery-min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="http://gaug.es/track.js"
      id="gauges-tracker"
      data-site-id="4d628b21ea814913ee00000b">
    </script>
  </body>
</html>

